/alargamento.ipynb
/data_set
/exemplo_conv2d.ipynb
/François correto.rar
/histogram.ipynb
/histogramas
/pdiTela.py
/processamentoDeImagens.ipynb
/ProjetoCV.rar
/pseudocores.ipynb
/ruidos
/ultrassound
/venv